* {
    padding: 0px;
    margin: 0px;
    block-size: border-box;
}
/* This is my default setting that allows me to start in a consistent way. The following items I made up as I went along, but it seems to me I should have a way of grouping or organising them so that it is easy to revisit them and know what they each relate to. */

header {
    height: 100px;
    background-color:lightskyblue;
    padding-top: 0px;
    margin-bottom: 5px;
}
.title {
    color: darkslateblue;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    /* Arial is very similar to Helvetica as it was designed to mimic Helvetica while getting around licence fees. Sans-serif fonts are going to be the easiest to read, at the cost of unique serifs. */
    text-align: center;
    padding-top: 20px;
}
.credit {
    font-size: 12px;
    font-family: Verdana, sans-serif;
    /* Verdana is also similar to Arial and Helvetica, but the slightly simpler structure makes it even more readable. Useful for small fonts or large blocks of text. */
    color: grey;
    text-align: center;
    margin-top: 5px;
}
.s1 {
    height: 300px;
    background-color:azure;
    .rlist {
        display: flex;
    }
}
.recipe {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    margin: 10px auto;
}
.thumb {
    height: auto;
    width: 200px;
    display: block;
    margin: 5px auto;
}
/* I note the different image sizes create a problem with the final thumbnail. Not a big deal at the present time. */